.order {
    text-align: center;
    padding: 2em 0;
}

.order p:first-child {
    text-shadow: 0 0 20px rgb(74, 1, 193);
}

.order p:nth-child(2) {
    padding: .25em 0;
    margin-bottom: 2em;
}

.tech_info {
    padding: 4em 0 0;
}

.order p {
    margin: 8px 0;
}

.check_icon_icon {

}

.check_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgb(31, 31, 46);
    transform: scale(1.25);
}