.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c21;
    border-radius: 16px;
    padding: 40px;
    z-index: 1000;
    width: 600px;
    max-width: 90%;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    font-size: 24px;
    color: #8585ad;
    cursor: pointer;
}

.modal img {
    margin-bottom: 0;
}