html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #131316;
  color: #F2F2F3;
  font-family: 'Jet Brains Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}
* { box-sizing: border-box; }
.custom-scroll { scrollbar-gutter: stable; }
.custom-scroll::-webkit-scrollbar { width: 8px; }
.custom-scroll::-webkit-scrollbar-thumb { background: #2F2F37; border-radius: 4px; }
