.header {
    background-color: #131316;
    padding: 20px 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.nav div:not(:first-child) {
    margin-left: 2em;
}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    justify-content: center;
    flex: 1;
}